# Database
POSTGRES_USER=fooddelivery
POSTGRES_PASSWORD=fooddelivery
POSTGRES_DB=fooddelivery
DATABASE_URL=postgresql://fooddelivery:fooddelivery@postgres:5432/fooddelivery

# Redis
REDIS_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Flask
FLASK_ENV=development
SECRET_KEY=dev-secret-key-change-in-prod

# Simulators
RESTAURANT_URL=http://restaurant:5001
COURIER_URL=http://courier:5002

# Load Generator
TARGET_URL=http://api:5000
RATE=5
BURST_RPS=50
BURST_DURATION=60
BURST_DELAY=30
